<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ispis Vozila</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">

  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/radni_nalozi.html">Izvještaj za Radne Naloge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/UnesiPeriod.html">Unos parametara za izvještaj</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/Vozilo.html">Forma za API endpoint za Vozilo</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/Radovi.html">Unos Radnog Naloga za Izvještaj Radova</a>
      </li>
    </ul>
  </div>

</nav>
	<table class="table">
		<tr>
            <th>Šifra Vozila</th>
            <th>Posljednji Registarski Broj Vozila</th>
            <th>Naziv Vozila</th>
			<th>Marka Vozila</th>
			<th>Tip Vozila</th>
        </tr>
		{%for rn in lista%}
		<tr>
            <th>{{ rn[0] }}</th>
            <th>{{ rn[1] }}</th>
            <th>{{ rn[2] }}</th>
			<th>{{ rn[3] }}</th>
			<th>{{ rn[4] }}</th>
        </tr>
		{% endfor %}
	</table>
</body>
</html>